.btn {
    font-size: 18px;
    font: inherit;
    text-align: center;
    padding: 19px 50px;
    border-radius: 50px;
    text-decoration: none;
    
}

.btn-0 {
    color: #fff;
    border: 2px solid #fff;
}