.hero {
    overflow: hidden;
    position: relative;
    padding-top: 6px;
    min-height: 640px;
    background: #4fd2d6;
    .xxs(text-align, center);
}

.hero__logo {
    width: 112px;
    height: auto;
    margin-bottom: 124px;
    .sm(margin-bottom, 38px);
    .xxs-block({
        width: 137px;
        margin-bottom: 56px;
    });
}

.hero__content {
    position: relative;
    z-index: 3;
    .xxs-block({
        padding-bottom: 539px;
        position: static;
    });
    h1 {
        width: 590px;
        margin-bottom: 27px;
        font-size: 35px;
        line-height: 44px;
        .sm-block({
            font-size: 25px;
            line-height: 30px;
            width: 233px;
            margin-bottom: 18px;
        });
        .xxs-block({
            line-height: 44px;
            width: 100%;
        });
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
    }
    p {
        width: 572px;
        margin-bottom: 48px;
        font-size: 24px;
        line-height: 36px;
        .sm-block({
            font-size: 17px;
            line-height: 23px;
            width: 280px;
            margin-bottom: 41px;
        });
        .xxs-block({
            width: 100%;
        });
        color: #2f7d80;
    }
}

.hero__shape {
    z-index: -1;
    position: absolute;
    background: url(../img/hero-bg.svg) no-repeat center/contain ;
    top: -115px;
    right: -893px;
    width: 2004px;
    height: 635px;
    .sm-block({
        top: -25px;
        right: -1042px;
        background-size: 42%;
    });
    .xxs-block({
        z-index: 1;
        top: 52%;
        right: -834px;
        background-size: 46%;
    });
}