.slider-arrow {
    position: absolute;
    top: 0;
    .xs(top, -135px);
    width: 13px;
    height: 100%;
    z-index: 50;
}

.slider-arrow:hover {
    cursor: pointer;
}

.slider-arrow--left {
    left: -36px;
    .xs(left, 4%);
    background: url(../img/slider-arrow-left.png) center no-repeat;
}

.slider-arrow--right {
    right: -36px;
    .xs(right, 4%);
    background: url(../img/slider-arrow-right.png) center no-repeat;
}

.slick-dots {
    bottom: -60px;
}

.slick-dots li {
    width: 11px;
    height: 11px;
    border: 1px solid @accent;
    border-radius: 50%;

    &.slick-active {
        background-color: @accent;
    }
}