<footer class="footer">
    <div class="wrapper">
       
        <div class="footer__content">

            <div class="footer__logo">
                <a href="/">
                    <img src="img/footer-logo.png" srcset="img/footer-logo@2x.png" alt="footer-logo">
                </a>
            </div>

            <div class="footer__links">
                <a href="#">Оферта</a>
                <a href="#">Политика конфиденциальности</a>
                <a href="#">Условия сервиса</a>
            </div>

            <div class="footer__contacts">
                <p>Номер для сообщений:</p>
                <a href="https://api.whatsapp.com/send?phone=7926154290&amp;text=%D0%94%D0%BE%D0%B1%D1%80%D1%8B%D0%B9%20%D0%B4%D0%B5%D0%BD%D1%8C.%20%D0%AF%20%D0%B1%D1%8B%20%D1%85%D0%BE%D1%82%D0%B5%D0%BB%20%D0%BF%D0%BE%D0%B4%D0%BA%D0%BB%D1%8E%D1%87%D0%B8%D1%82%D1%8C%20%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%20%D0%90%D1%80%D1%82%D0%9A%D0%BE%D0%BD%D1%81%D1%8C%D0%B5%D1%80%D0%B6">+7 (926) 154-29-09</a>
                <a href="mailto:info@pfg-art.com">info@pfg-art.com</a>
            </div>

        </div>

    </div>
</footer>

